<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="angForm" novalidate>
		<flash-messages></flash-messages>   
        <div [formGroup]="passwordFormGroup">  
			<div class="form-group">
			  <label class="col-md-4">Password</label>
			  <input type="password" class="form-control" formControlName="password" #password />
			</div>
			 <div *ngIf="passwordFormGroup.controls['password'].invalid && (passwordFormGroup.controls['password'].dirty || passwordFormGroup.controls['password'].touched)" class="alert alert-danger">
				  <div *ngIf="passwordFormGroup.controls['password'].errors.required">
					Password is required.
				  </div>
				  <div *ngIf="passwordFormGroup.controls['password'].errors.minlength">
						Name must be at least 5 characters long.
				  </div> 
				   <div *ngIf="passwordFormGroup.controls['password'].errors.maxlength">
						Name can be max 10 characters long.
				   </div> 
			 </div>
			 <div class="form-group">
				<label>Repeat Password</label>
				<input class="form-control" type="password"  formControlName="repeatPassword" #repeatPassword>
			 </div>
				<div class="alert alert-danger" *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">Repeat password is required</div>
				<div  class="alert alert-danger" *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match</div>
          </div>
        <div class="form-group">
          <button (click)="resetPassword(password.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Login</button>
        </div>
    </form>
  </div>
</div>