<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a routerLink="create" *ngIf="!isLoggedIn()" class="nav-link" routerLinkActive="active">
          Signup 
        </a> 
	  	
      </li>   
	 <li class="nav-item">
	 <a routerLink="login" *ngIf="!isLoggedIn()" class="nav-link" routerLinkActive="active">Login</a> 
	  </li> 
	<li class=" nav-item">
		<a routerLink="forgot" *ngIf="!isLoggedIn()" class="nav-link" routerLinkActive="active">
           Forgot Password 
        </a>
		  </li> 
		 <li class="nav-item">
		<a routerLink="users" *ngIf="isLoggedIn()" class="nav-link" routerLinkActive="active">
           User Profile 
        </a>
		  </li> 
		 <li class="nav-item">
		<a routerLink="album" *ngIf="isLoggedIn()" class="nav-link" routerLinkActive="active">
           Album
        </a>
		 </li> 
		 <li class="nav-item">
		<a (click)="logout()" *ngIf="isLoggedIn()" class="nav-link" href="javascript:void();" routerLinkActive="active" >
           Logout
        </a>
		  </li> 
    </ul>
  </div>
</nav>
